__pycache__/
slurm_files/
.ipynb_checkpoints/
figures/
depricated/
results/
shuang/
outputs/

data/1000G/
data/HGDP/
data/1KGP_VCF/
data/HGDP_VCF/

.env
*.crc

notebooks/HGDP/non_missing_overlap.npz
notebooks/HGDP/experimental/
