# Ignore everything in the paths folder
# except for __init__.py and default.yaml
# (privacy reasons)

src/configs/paths/*
!src/configs/paths/__init__.py
!src/configs/paths/default.yaml

# similarly for data,
data/*
!data/**/__init__.py

# and outputs.
outputs/*
!outputs/**/__init__.py

# python cache files.
__pycache__/
*.pyc
*.pyo

#notebooks
notebooks/debug.ipynb
.ipynb_checkpoints/

.env
*.crc
*.npz