[project]
name = "ManyLatents"
version = "0.1.0"
description = "a hydra enabled dimensionality reduction framework for the analysis of high dimensional data"
authors = [
    { name = "César Miguel Valdez Córdova", email = "cesar.valdez@mila.quebec" },
    { name = "Shuang Ni", email = "shuang.ni@mila.quebec"},
    { name = "Matthew Scicluna", email = "matthew.scicluna@mila.quebec"}
]
readme = "README.md"
requires-python = ">=3.9, <3.10"

dependencies = [
    "asttokens==2.4.1",
    "comm==0.2.2",
    "contourpy==1.2.0",
    "cycler==0.12.1",
    "debugpy==1.8.1",
    "decorator==5.1.1",
    "Deprecated==1.2.14",
    "executing==2.0.1",
    "fonttools==4.51.0",
    "future==1.0.0",
    "graphtools==1.5.3",
    "h5py==3.10.0",
    "ipykernel==6.29.4",
    "ipython==7.34.0",
    "jedi==0.19.1",
    "joblib==1.3.2",
    "jupyter_client==8.6.1",
    "jupyter_core==5.7.2",
    "kiwisolver==1.4.5",
    "matplotlib>=3.8",
    "matplotlib_inline==0.1.6",
    "nest_asyncio==1.6.0",
    "numpy>=1.23.5",
    "packaging==24.0",
    "pandas>=2.0.0",
    "parso==0.8.4",
    "pexpect==4.9.0",
    "phate==1.0.11",
    "pillow==10.2.0",
    "platformdirs==4.2.0",
    "prompt_toolkit==3.0.43",
    "psutil==5.9.8",
    "ptyprocess==0.7.0",
    "pure_eval==0.2.2",
    "pygments==2.17.2",
    "PyGSP==0.5.1",
    "pyparsing==3.0.9",
    "python_dateutil==2.9.0.post0",
    "pytz==2024.1",
    "pyzmq==25.1.1",
    "s-gd2==1.8.1",
    "scikit_learn>=1.2.2",
    "scipy>=1.8,<1.12",
    "scprep==1.1.0",
    "seaborn==0.13.2",
    "six==1.16.0",
    "stack_data==0.6.3",
    "tasklogger==1.2.0",
    "threadpoolctl==3.4.0",
    "tornado==6.3.3",
    "traitlets==5.14.2",
    "typing-extensions>=4.11.0,<5.0",
    "tzdata==2024.1",
    "wcwidth==0.2.13",
    "wrapt==1.16.0",
    "requests>=2.25.0",
    "rootutils>=1.0.0",
    "heatgeo>=0.0.1",
    "torch==2.3.1",
    "hydra-core>=1.3.2",
    "tqdm>=4.67.1",
    "pyplink>=1.3.7",
    "lightning>=2.5.0.post0",
    "gsutil>=5.33",
    "hydra-zen>=0.13.0",
    "torchmetrics>=1.6.1",
    "pydantic>=2.9.2",
    "pytest>=8.3.4",
    "wandb>=0.19.8",
    "rich>=13.9.4",
    "opentsne>=1.0.2",
    "umap-learn>=0.5.7",
    "ripser>=0.6.12",
    "archetypes>=0.6.2",
    "mkdocs>=1.6.1",
    "mkdocs-material>=9.6.12",
    "hydra-submitit-launcher>=1.2.0",
    "scanpy>=1.10.3",
    "pyproj>=3.6.1",
]

[tool.uv]
managed = true

[tool.uv.sources]
archetypes = { git = "https://github.com/aleixalcacer/archetypes.git" }

[tool.hatch.build.targets.wheel]
packages = ["src"]

[tool.pytest.ini_options]
pythonpath = ["."]
testpaths = ["src"]

[[tool.uv.dependency-metadata]]
name = "heatgeo"
version = "0.0.1"
requires-dist = ["numpy>=1.25"]
