_target_: src.algorithms.reconstruction.Reconstruction
datamodule: ${data}
network:
  _target_: src.algorithms.networks.autoencoder.Autoencoder
  input_dim: null # must be currently specified from experiment
  hidden_dims: [512, 256, 128]
  latent_dim: 50
  activation: relu
  batchnorm: true
  dropout: 0.1
optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
loss:
  _target_: src.algorithms.losses.geometric.AllGeomLoss
  loss_pr:
    _target_: src.algorithms.losses.geometric.PRLoss
    lambda_pr: 0.01
  loss_aniso:
    _target_: src.algorithms.losses.geometric.AnisotropyLoss
    lambda_aniso: 0.01
  loss_tsa:
    _target_: src.algorithms.losses.geometric.TSALoss
    lambda_tsa:  0.1
    k:           25
    p:           1


