_target_: src.algorithms.reconstruction.Reconstruction
datamodule: ${data}
network:
  _target_: src.algorithms.networks.autoencoder.Autoencoder
  input_dim: null # must be currently specified from experiment
  hidden_dims: 128
  latent_dim: 50
optimizer:
  _target_: torch.optim.Adam
  _partial_: true
  lr: 0.001
loss:
  _target_: src.algorithms.losses.mse.MSELoss